<div  class="container">
    <section class="p-5 justify-content-center align-items-center">
        <div class="row row1">
            <div class="col-md-5">
                <h1 class="header font-lg">مافي داعي تحتار الآن!</h1>
                <h4 class="bold secondary-color py-1">قوباي GoBy</h4>
                <p class="py-2">اول تطبيق يقارن بين أسعار تطبيقات<br> توصيل الركاب في المملكة</p>
                <div class="d-flex justify-content-start p-0 ms-5 bnt">
                    <!-- App Store button -->
                    <button class="btn p-0 m-0 pt-3">
                        <a class="btn-app" href="https://www.apple.com/app-store/" title="App Store">App Store</a>
                    </button>
                    <!-- Google play button -->
                    <button class="btn p-0 m-0 pt-3">
                        <a class="btn-google" href="https://play.google.com/store/games?device=windows&pli=1" title="Google Play">Google Play</a>
                    </button>
                </div>
            </div>
            <div class="col-md-7 ps-5 imgDiv">
                <img src="./assets/images/main-img.png" class="w-100" alt="">
            </div>
        </div>
        <div class="text-center">
            <button class="btn-style" role="button"><i class="fa-solid fa-arrow-down" style="color: #4FF570;"></i></button>
        </div>
    </section>
</div>
<div class="container">
    <section class="p-5 section2">
        <div class="row d-flex justify-content-around">
            <div class="col-md-4 textt">
                <h1 class="header">قوباي GoBy</h1>
                <p>اول تطبيق يقارن بين أسعار تطبيقات توصيل الركاب في المملكة <br> يقوم بجمع وربط عدة تطبيقات ليقدم أفضل تجربة مستخدم </p>
            </div>
            <div class="col-md-8 img5">
                <img src="./assets/images/maps.png" class="w-75 me-2" alt="maps">
            </div>
        </div>
    </section>
</div>
<img src="./assets/images/maps.png" class="img6" alt="maps">
<div class="container">
    <section class="p-5">
        <div class="row g-0">
            <div class="col-md-4">
                <h4 class="bold secondary-color">قوباي GoBy</h4>
                <h1 class="header">تطبيق متكامل</h1>
                <ul class="points my-5 p-1">
                    <li>حساب واحد</li>
                    <p>يربط حساباتك في التطبيقات الأخرى بسهولة وأمان</p>
                    <li>الكل في واحد</li>
                    <p>مقدمي خدمات متعددين وبخيارات متعددة</p>
                    <li>اسعار دقيقة</li>
                    <p>أسعار دقيقة لجميع رحلاتك خلال اليوم الواحد</p>
                    <li>خيارات لانهائية</li>
                    <p> اختيارات متعددة ومميزات إضافية</p>
                    <li>سهل وبسيط</li>
                    <p>واجهات مستخدم سهلة ومتطورة</p>
                </ul>
                <div class="d-flex justify-content-start p-0 ms-5 bnt">
                    <!-- App Store button -->
                    <button class="btn p-0 m-0 pt-3">
                        <a class="btn-app" href="https://www.apple.com/app-store/" title="App Store">App Store</a>
                    </button>
                    <!-- Google play button -->
                    <button class="btn p-0 m-0 pt-3">
                        <a class="btn-google" href="https://play.google.com/store/games?device=windows&pli=1" title="Google Play">Google Play</a>
                    </button>
                </div>
            </div>
            <div class="col-md-8 ps-5 pt-3 img3">
                <img src="./assets/images/mobile.png" class="w-75" alt="">
            </div>
        </div>
    </section>
</div>

    <section class="bg-color my-5 p-5 text-center text-white">
            <h1 class="header secondary-color text-center">كيف يعمل</h1>
            <p class="text-white py-1">اول تطبيق يقارن بين أسعار تطبيقات توصيل الركاب في المملكة</p>
            <div class="row justify-content-center g-0 px-5 m-5">
                <div class="col-md-3 space">
                    <img class="card-img-top" src="./assets/images/icon 1.svg" alt="maps">
                    <div class="body-content mt-3">
                        <h4 class="secondary-color text-center">الوجهة</h4>
                        <p>حدد نقطة الإنطلاق والوصول<br> من العنوان أو من على الخريطة</p>
                    </div>
                </div>
                <div class="col-md-3 space">
                    <img class="card-img-top" src="./assets/images/icon 2.svg" alt="map">
                    <div class="body-content mt-3">
                        <h4 class="secondary-color text-center">فئة المركبة</h4>
                        <p>اختر فئة المركبة المناسبة لك، <br>فارهة، عائلية أو اقتصادية</p>
                    </div>
                </div>
                <div class="col-md-3 space">
                    <img class="card-img-top" src="./assets/images/icon 3.svg" alt="map">
                    <div class="body-content mt-3">
                        <h4 class="secondary-color text-center">قارن الأسعار</h4>
                        <p>استعرض كل الأسعار بين كل <br>مقدمي الخدمات</p>
                    </div>
                </div>
                <div class="col-md-3 space">
                    <img class="card-img-top" src="./assets/images/icon 4.svg" alt="map">
                    <div class="body-content mt-3">
                        <h4 class="secondary-color text-center">احجز</h4>
                        <p>عند الرغبة في الحجز، يتم توجيهك إلى <br>التطبيق المطلوب بشكل مباشر</p>
                    </div>
                </div>
            </div>

    </section>
<div class="container">
    <section class="my-5">
        <h1 class="header text-center" >مقدمي الخدمات</h1>
        <div class="container">
            <div class="apps">
                  <a href="https://www.uber.com/in/en/"><img src="./assets/images/uber.png" alt=""></a>
                    <a href="https://m.bolt.eu/"><img src="./assets/images/bolt.png"  alt=""></a>
                    <a href=""><img src="./assets/images/orange.png"  alt=""></a>
                    <a href="https://indrive.com/en/driver/"><img src="./assets/images/indrive.png"  alt=""></a>
                    <a href="https://www.uber.com/in/en/"><img src="./assets/images/uber.png" alt=""></a>
                    <a href="https://m.bolt.eu/"><img src="./assets/images/bolt.png"  alt=""></a>
            </div>
        </div>


    </section>
</div>

    
    <section class="bg-footerColor py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 offset-md-6">
                    <h1 class="secondary-color text-center header pb-3">قوباي</h1>
                    <p class="text-white text-center">حمل التطبيقات الآن من منصات المتاجر المختلفة أبل وقوقل</p>
                    <div class="d-flex justify-content-center p-0 bnt">
                        <!-- App Store button -->
                        <button class="btn p-0 m-0 pt-3">
                            <a class="btn-app" href="https://www.apple.com/app-store/" title="App Store">App Store</a>
                        </button>
                        <!-- Google play button -->
                        <button class="btn p-0 m-0 pt-3">
                            <a class="btn-google" href="https://play.google.com/store/games?device=windows&pli=1" title="Google Play">Google Play</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
<div class="container">
    <section class="py-5 infosec">
        <div class="row">
            <div class="col-md-2 logo">
                <img src="./assets/images/logo.svg" class="w-75" alt="">
            </div>
            <div class="col-md-8">
                <div class="row py-1">
                    <div class="col col-6 col-sm-3 section-container">
                        <a href=""> من نحن </a>
                        <a href="">التطبيقات </a>
                        <a href="">مقدمي الخدمات </a>
                        <a href="">اتصل بنا </a>
                    </div>
                    <div class="col col-6 col-sm-9 section-container">
                        <a href="">خدمات الأعمال</a>
                        <a href="">الشروط والأحكام</a>
                        <a href="">اتفاقية الخصوصية</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 applink">
                <a href="https://x.com/?login="><i class="fa-brands fa-x-twitter" style="color: #080808;"></i></a>
                <a href="https://www.snapchat.com/" ><i class="fa-brands fa-snapchat" style="color: #080808;"></i></a>
                <a href="https://www.instagram.com/?hl=en" class="px-2 w-50"><i class="fa-brands fa-instagram" style="color: #0a0a0a;"></i></a>
            </div>
        </div>
    </section>
</div>



